.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 8px;
  grid-gap: 4px;
}

.label {
  justify-self: flex-start;
}

.input {
  justify-self: flex-end;
}

.icon {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}